$textColor: #fff;
$secondaryTextColor: #000;

$colorInfosBar1: #f1c40f;
$colorInfosBar2: #e27c39;

$colorButton1: #771d32;
$colorButton2: #FF8C00;

$colorEvent1: #771d32;
$colorEvent2: #e65758;
$colorEvent3: #e27c39;
$colorEvent4: #e84118;